<div class="container">


  <div class="jumbotron navy-background">
    <div class="container">
      <h1>Welcome to the Skill Inventory!</h1>
      <p>
        We're disrupting the skill-tracking space.
      </p>
      <div class="margin-top-40">
        <a href="/skills/new"><button type="button" class="btn btn-default btn-lg highlight-button" id="new-skill">Create New Skill</button></a>
        <a href="/skills"><button type="button" class="btn btn-default btn-lg" id="skill-index">View All Skills</button></a>
      </div>
      </div>
    </div>
  </div>
