<div class="container">

  <div class="jumbotron navy-background">
      <h1>
        Edit Your Skill:<br/>
        <%= @skill.title %>
      </h1>
      <p class="">
        Use the form below to make yourself seem even more awesome.
      </p>

      <form action="/skills/<%= @skill.id %>" method="POST" class="container">
        <input type="hidden" name="_method" value="PUT" />
        <div class="form-group margin-top-40">
          <label class="" for="title">Skill Title:</label>
          <input name="skill[title]" type="text" class="form-control" id="title" placeholder="Title" value= "<%= @skill.title %>">
          </input>
        </div>
        <div class="form-group margin-top-20">
          <label class="" for="details">Skill Details:</label>
          <textarea name="skill[description]" type="textarea" rows="5" class="form-control" id="details" placeholder="Details"><%= @skill.description %></textarea>
        </div>
        <button type="submit" value="Submit" class="white-button-border btn btn-danger pull-right">Submit</button>
      </form>
    </div>
</div>
