<form action="/skills" method="POST">
  <p>Enter a new skill:</p>
  <input type="text" name='skill[title]'/></br>
  <input type="textarea" name='skill[description]'></input></br>

  <input type="submit" />
</form>
